<app-admin-navbar></app-admin-navbar>
<div class="container">
    <div class="row g-3">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Employee id</th>
                                <th scope="col">Employee name</th>
                                <th scope="col">Employee address</th>
                                <th scope="col">Employee dob</th>
                                <th scope="col">Employee Date of join (Time)</th>
                                <th scope="col">Employee email</th>
                                <th scope="col">Username</th>
                                <th scope="col">Password</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of root">
                                <td>{{i.employee_id}}</td>
                                <td>{{i.employee_name}}</td>
                                <td>{{i.employee_address}}</td>
                                <td>{{i.emp_dob}}</td>
                                <td>{{i.emp_dateofjoin}}</td>
                                <td>{{i.emp_email}}</td>
                                <td>{{i.username}}</td>
                                <td>{{i.password}}</td>
                                <td><button class="btn btn-danger"(click)="deleteEmployee(i.employee_id)">delete</button></td>
                              

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>