<app-admin-navbar></app-admin-navbar>
<div class="container">
    <div class="row g-3">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">search employee by ID</label>
                    <input class="form-control" type="text" name="employee_id"[(ngModel)]="employee_id" id="">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                  <button class="btn btn-success"(click)="readValue()">search</button>
                </div>
                <div *ngFor="let i of data">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label">Employee id</label>
                        <input class="form-control" type="text" name="" value="{{i.employee_id}}"[(ngModel)]="i.employee_id" id="">
                    </div>

                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label">Employee name</label>
                        <input class="form-control" type="text" name="" value="{{i.employee_name}}"[(ngModel)]="i.employee_name" id="">
                    </div>

                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label">Employee address</label>
                        <textarea class="form-control" name="" value="{{i.employee_address}}"[(ngModel)]="i.employee_address" id="" cols="30" rows="10"></textarea>
                    </div>

                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label">Employee dob</label>
                        <input class="form-control" type="date" name="" value="{{i.emp_dob}}"[(ngModel)]="i.emp_dob" id="">
                    </div>

                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label">Employee Date of join </label>
                        <input class="form-control" type="date" name="" value="{{i.emp_dateofjoin}}"[(ngModel)]="i.emp_dateofjoin" id="">
                    </div>

                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label">Employee email</label>
                        <input class="form-control" type="email" name="" value="{{i.emp_email}}"[(ngModel)]="i.emp_email" id="">
                    </div>

                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label">Username</label>
                        <input class="form-control" type="text" name="" value="{{i.username}}"[(ngModel)]="i.username" id="">
                    </div>

                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label">Password</label>
                        <input class="form-control" type="password" name="" value="{{i.password}}"[(ngModel)]="i.password" id="">
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                       <button class="btn btn-primary" (click)="editEmployee()">update</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
